.top-box{
  color: white;
  text-align: center;
  width: 100vw;
  background-color: $mizuiro;  
  height:24px;
}

.left-box{
  width: 300px;
  color: white;
  height: calc(100vh - 24px);
  background-color: #2f3e51;
  float: left;
  &__top{
    background-color: #253141;
    height: 100px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    &__viewarea{
      justify-content: space-between;
      font-size:16px;
      font-weight: bold;
      display: flex;
      width: 100%;
      &__right{
        display: flex;
        &__setting{
          margin-left: 0.3rem;
          & a{
            color:white;
          }
        }
        &__edit{
          margin-left: 0.3rem;
          & a{
            color:white;
          }
        }
      }

    }
  }
  &__bottom{
    padding: 20px 20px 0;
    height:calc(100vh - 144px);
    overflow: scroll;
    &__group{
      margin-bottom: 40px;

      &__name{
        font-size: 15px;
        margin-bottom: 5px;
      }
      &__message{
        font-size: 11px;
      }   
    }
  }
}

.main-box{
  width: calc(100vw - 300px);
  float: left;
  &__header{
    height: 100px;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px #eee;
    overflow: scroll;
    &__left-box{
      margin-top: 35px;
      &__group-name{
        font-size: 20px;
        color: #333;
        margin-bottom: 15px;
      }
      &__member-list{
        display: flex;
        font-size: 12px;
        color: #999999;
        &__member{
          margin: 0;
          padding: 0;
        }
      }
    }
    &__edit-button{
      height: 40px;
      line-height: 40px;
      padding: 0 20px;
      margin-top: 30px;
      border: solid 1px $mizuiro;
      color: $mizuiro;
      position: absolute;
      right: 40px;
      & a{
        color:$mizuiro;
      }
    }
  }

  &__messages{
    height: calc(100vh - 307px);
    padding: 46px 40px;
    background-color: #fafafa;
    overflow: scroll;
    &__message{
      padding-bottom: 40px;
      &__top{
        display: flex;
        margin-bottom: 10px;
        &__name{
          color: #434a54;
          font-size: 16px;
          font-weight: bold;
        }
        &__date{
          color: #999999;
          font-size: 12px;
          margin-left: 10px;
        }
      }
      &__text{
        color: #434a54;
        font-size: 14px;
        margin-bottom: 10px;
      }
    }
  }

  &__send-box{
    height: 50px;
    padding: 20px 40px;
    background-color: #ddd;
    &__newmessage{
      display: flex;
      &__input-box{
        position: relative;
        width: 100%;
        &__text{
          height: 50px;
          width: calc(100vw - 565px);
          padding: 0 40px 0 10px;
          color: #434a54;
          border-style: none;
          margin-right: 15px;
        }
        &__image{
          font-size: 1.3rem;
          position: absolute;
          top: 10px;
          right: 155px;
          cursor: pointer;
          &__file{
            display: none;
          }
        }
      &__submit-button{
        width: 100px;
        height: 50px;
        padding: 0 30px;
        margin-left: 15px;
        background-color: $mizuiro;
        color: white;
        cursor: pointer;
        float: right;
      }
      }
    }
  }
}